<html>
	<body>
		<section class = "searchscreen">
		<b>You searched for:</b>
		<input name = "search" value = "#" class = "searched">
		</section>
		<br>
		<article>
		<h3>Search Results:</h3>
		<ul>
			<li><%= link_to "", '#', :class => "create round" %></li>
		</ul>
		</article>
	</body>
</html>
